body {
  background-color: rgb(213, 236, 236);
}

header {
  background-color: rgb(201, 193, 193);
  text-align: center;
  height: auto;
  font-size: 30px;
  padding: 5px;
}

.container {
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  align-items: stretch; 
}
section {
  max-width: 230px;
  width: 100%;
  display: block;
  border: 1px solid black;
  min-height: 120px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  
  text-align: center;
}
.redBox{
  background:red;
}
.redBox button {
  color: black;
  margin-top: 15px;
  background: white;
  border:1px solid white;;
  border-radius:8px;
  padding:20px;
  cursor:pointer;
  transition:.5s;
}

.redBox button:hover {
  background:red;
  color: white;
  transition:.5s;
}

.greenBox {
  background-color: green;
}

.greenBox button {
  color: black;
  margin-top: 15px;
  background: white;
  border:1px solid white;;
  border-radius:8px;
  padding:20px;
  cursor:pointer;
  transition:.5s;
}

.greenBox button:hover {
  background: green;
  color: white;
  transition: .5s;
}

.blueBox {
  background-color: blue;
}

.blueBox button {
  color: black;
  margin-top: 15px;
  background: white;
  border:1px solid white;;
  border-radius:8px;
  padding:20px;
  cursor:pointer;
  transition:.5s;
}

.blueBox button:hover {
  background: blue;
  color: white;
  transition: .5s;
}

.whiteBox {
  background-color: white;
}

.whiteBox button {
  color: black;
  margin-top: 15px;
  background: white;
  border:1px solid black;;
  border-radius:8px;
  padding:20px;
  cursor:pointer;
  transition:.5s;
}

.whiteBox button:hover {
  background: black;
  color: white;
  transition: .5s;
}
/* Test cases based on google Chrome's device settings */
/* Different screen sizes */
/*laptop size -- this is really optional */
/* This is really depends on how the graphic designer prefers the boxes to be layout. */
 /*  with this changes it shows 2 X 2 else 3 on top and 1 on the second row  */
 /*
@media screen and (max-width: 1440px){
  {
    max-width: 50%;
  }
}
*/

/* Pixel 2 */
@media screen and (min-width: 731px){
  .container {
    width: 90%;
  }
}

/* Pixel 2/XL */
@media screen and (max-width: 823px){
  .container {
    width: 80%;
  }
}

/* iPad horizontal */
/* This is really depends on how the graphic designer prefers the boxes to be layout.
   with this changes it shows 2 X 2 else 3 on top and 1 on the second row */
/* @media screen and (min-width: 1024px){
  .container {
    width: 50%;
  }
} */

/* iPhone 5/SE horizontal */ 
@media screen and (min-width: 568px){
  section {
    width: 40%;
    min-height: 90px;
  }
}

/* iPhone 5/SE vertical */ 
@media screen and (max-width: 320px){
  section {
    min-height: 90px;
    margin: 8px;
  }
}

/* Galaxy Note 3 */ 
@media screen and (max-width: 360px){
  section {
    min-height: 90px;
  }
}

/* Pixel 2 vertical */ 
@media screen and (max-width: 411px){
  section {
    min-height: 90px;
  }
}